<div class="container-fluid mt-3">
  <form #form="ngForm" class="needs-validation" novalidate>
    <!--IMGURL-->
    <div class="row">
      <label for="imgurl" class="form-label">imgUrl</label>
      <input
        class="form-control"
        type="text"
        id="imgurl"
        name="imgurl"
        [(ngModel)]="persona.imgurl"
        required
        maxlength="50"
      />
      <div class="invalid-feedback">Campo obligatorio.</div>
      <div class="valid-feedback">Campo correcto.</div>
    </div>
    <!--NOMBRE-->
    <div class="row">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        class="form-control"
        type="text"
        id="nombre"
        name="nombre"
        [(ngModel)]="persona.nombre"
        required
        maxlength="50"
      />
      <div class="invalid-feedback">Campo obligatorio.</div>
      <div class="valid-feedback">Campo correcto.</div>
    </div>
    <!--APELLIDO-->
    <div class="row">
      <label class="form-label" for="apellido">Apellido: </label>
      <input
        class="form-control"
        type="text"
        id="apellido"
        name="apellido"
        [(ngModel)]="persona.apellido"
        required
        maxlength="50"
      />
      <div class="invalid-feedback">Campo obligatorio.</div>
      <div class="valid-feedback">Campo completo.</div>
    </div>
    <!--OFICIO-->
    <div class="row mb-3">
      <label class="form-label" for="oficio">Oficio</label>
      <input
        class="form-control"
        type="text"
        id="oficio"
        name="oficio"
        [(ngModel)]="persona.oficio"
        required
      />
      <div class="invalid-feedback">Campo obligatorio</div>
      <div class="valid-feedback">Campo completo</div>
    </div>
    <!--ABOUTME-->
    <div class="row mb-3">
      <label class="form-label" for="aboutme">Acerca de</label>
      <textarea
        class="form-control"
        rows="3"
        type="textarea"
        id="aboutme"
        name="aboutme"
        [(ngModel)]="persona.aboutme"
        minlength="30"
        required
      >
      </textarea>
      <div class="invalid-feedback">
        Campo obligatorio, mínimo 30 caracteres!!
      </div>
      <div class="valid-feedback">Campo completo</div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-6">
        <button
          type="submit"
          class="btn btn-md btn-info"
          (click)="onUpdate()"
        >Actualizar
        </button>
      </div>
    </div>
  </form>
</div>

<!--
<div class="container">
  <form #form="ngForm" (ngSubmit)="onUpdate()" novalidate>
    <div class="row">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        class="form-control"
        type="text"
        id="nombre"
        name="nombre"
        [(ngModel)]="persona.nombre"
        required
        maxlength="50"
      />
    </div>
    <div class="row">
      <label class="form-label" for="apellido"
      >Apellido </label>
      <input
        class="form-control"
        type="text"
        id="apellido"
        name="apellido"
        [(ngModel)]="persona.apellido"
        required
        maxlength="50"
      />
    </div>
    <div class="row mb-3">
      <label class="form-label" for="oficio">Oficio</label>
      <input
        class="form-control"
        type="text"
        id="oficio"
        name="oficio"
        [(ngModel)]="persona.oficio"
        required
      />
    </div>
    <div class="row mb-3">
      <label class="form-label" for="aboutme">Acerca de</label>
      <textarea class="form-control"
      rows="3"
      type="textarea"
      id="aboutme"
      name="aboutme"
      [(ngModel)]="persona.aboutme"
      minlength="30"
      required>

      </textarea>




    </div>

    <div class="row">
      <div class="col-sm-6 col-6">
        <button
          type="submit"
          class="btn btn-md btn-success"
          (click)="onUpdate()"
        >Actualizar
        </button>
      </div>



    </div>
  </form>
</div>
-->
