<div class="row">
  <h1>Proyectos</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-success"
      routerLink="/newproyec"
      *ngIf="isLogged"
    ><i class="bi bi-plus-lg"></i>
    </button>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11 proyecto-block">
    <table class="table">
      <tbody>
        <tr *ngFor="let proyecto of proyec">
          <td>
            <h4>{{ proyecto.titulo }}</h4>
            <p>{{ proyecto.descripcionP }}</p>
          </td>

          <td *ngIf="isLogged">
            <button
              class="btn btn-primary"
              routerLink="/editproyec/{{ proyecto.id }}"
            >
              <i class="bi bi-pencil"></i>
            </button>
          </td>

          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(proyecto.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!--
<div class="row">
  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="alineado">
    <h1>Proyectos</h1>
    <div id="alineado">
      <button
        type="button"
        class="btn btn-outline-success"
        routerLink="/newproyec"
        *ngIf="isLogged"
      >
        Agregar Nuevo Proyecto
      </button>
    </div>
  </div>

  <ul
    class="col-lg-10 col-md-10 col-sm-12 card-group" id="alineado">
    <li class="card" id="exp-456" *ngFor="let proyecto of proyec">
      <div class="text-center">
        <div class="card-header">
          <h3>
            {{ proyecto.titulo }}
          </h3>
          <div
            class="btn-group"
            role="group"
            id="bot-expe">
            <button
              class="btn btn-outline-info"
              routerLink="/editproyec/{{ proyecto.id }}"
              *ngIf="isLogged"
            >
              <i class="bi bi-pencil-square"></i>
            </button>


            <button
              *ngIf="isLogged"
              class="btn btn-outline-danger"
              (click)="delete(proyecto.id)"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>


          </div>
        </div>

        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ proyecto.descripcionP }}</p>
          </blockquote>
        </div>
      </div>
    </li>
  </ul>
</div>
-->






<!--

<div class="row">
  <h1>Proyectos</h1>

  <div class="contenedor">

    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h3>Barbería Alura</h3>
      <p>Lorem ipsum sit amet consectetur adipisicing elit. Et amet similique   fugit modi! Asperiores, facilis. Assumenda, cum impedit cupiditate minima rerum aspernatur natus unde! Veritatis hic cmpedit.</p>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/proyectos/barberiaAlura.png" alt="" class="img-fluid img-proyecto">
    </div>


  </div>
</div>

-->
