.row {
  padding: 20px;
  background: #73aeee;
  box-shadow: 2px -2px 5px #eef0f3;
}

div {
  display: block;
}

.contenedor {
  width:auto;
}

.parte1, .parte2 {
  display: inline-block;
  text-align: justify;
}

.img-proyecto {
  box-shadow: 10px 10px 30px #000000;
}

.proyecto-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #eef0f3;
  text-align: left;

}

img{
    max-width: 80%;
    align-self: center;
}


