<div class="container" *ngIf="educacion">
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group text-center">
          <label for="nombreEdu">
            <h2>
                Editar Educacion
            </h2>

          </label>
          <input
            type="text"
            class="form-control"
            id="nombreEdu"
            name="nombreEdu"
            [(ngModel)]="educacion.nombreEdu"
            required
          />
        </div>
        <div class="form-group text-center">
          <label for="descripcionEdu">
            <h5>Editar Descripcion</h5>
          </label>
          <input
            type="text"
            class="form-control"
            id="descripcionEdu"
            name="descripcionEdu"
            [(ngModel)]="educacion.descripcionEdu"
            required
          />
        </div>

        <!--IMAGEN Edu-->
        <div class="form-group text-center">
          <label for="img" class="form-label">
            <h5>Editar Imagen(link Assets)</h5></label>
          <input
            type="text"
            required
            class="form-control"
            id="imgEdu"
            name="imgEdu"
            [(ngModel)]="educacion.imgEdu"
          />
        </div>
        <!--BOTON-->
        <button class="btn btn-info">Agregar</button>
      </form>
    </div>
  </div>
</div>
