<div class="row">
  <h1>Educacion</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-secondary"
      routerLink="/nuevaedu"
      *ngIf="isLogged"
    >
      Crear Nueva Educacion
    </button>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td>
            <h4>{{ Educacion.nombreEdu }}</h4>
            <p>{{ Educacion.descripcionEdu }}</p>
          </td>

          <td *ngIf="isLogged">
            <button
              class="btn btn-primary"
              routerLink="/editedu/{{ Educacion.id }}"
            >
              <i class="bi bi-pencil"></i>Editar
            </button>
          </td>

          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Educacion.id)">
              <i class="bi bi-trash"></i>Borrar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

