<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreEdu">
            Nombre de la nueva Entidad Educacional que desea crear
          </label>
          <input
            type="text"
            class="form-control"
            id="nombreEdu"
            name="nombreEdu"
            [(ngModel)] ="nombreEdu"
            required
          >
        </div>
        <div class="form-group">
          <label for="descripcionEdu">
            Descripcion de la entidad educativa y/o Estudios
          </label>
          <input
            type="text"
            class="form-control"
            id="descripcionEdu"
            name="descripcionEdu"
            [(ngModel)] ="descripcionEdu"
            required
          >
        </div>
        <button class="btn btn-info">
          Agregar Nueva Educacion
        </button>
      </form>
    </div>
  </div>
</div>
