<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group text-center">
          <label for="nombreEdu">
            <h1>Nombre Educacion</h1>
          </label>
          <input
            type="text"
            class="form-control"
            id="nombreEdu"
            name="nombreEdu"
            [(ngModel)]="nombreEdu"
            required
          />
        </div>
        <div class="form-group text-center">
          <label for="descripcionEdu">
            <h5>Descripcion Estudios</h5>
          </label>
          <input
            type="text"
            class="form-control"
            id="descripcionEdu"
            name="descripcionEdu"
            [(ngModel)]="descripcionEdu"
            required
          />
        </div>

        <!--ACA AGREGO IMAGEN-->
        <div class="form-group text-center">
          <label for="imgEdu"
            ><h5>Imagen dentro de carpeta Assets (link completo, ver ejemplo):</h5>
          </label>
          <input
            type="text"
            required
            class="form-control"
            id="imgEdu"
            name="imgEdu"
            [(ngModel)]="imgEdu"
          />

          <!--BOTON-->
          <button class="btn btn-info">Agregar Nueva Educacion</button>



        </div>



      </form>
    </div>
  </div>
</div>
