
<div
  class="row p-4"
  style="background-color: rgba(245, 245, 245, 0)"
  *ngIf="experiencia"
>
  <div class="container col-lg-12" style="background-color: white">
    <div class="card mx-auto text-center" style="width: 100%" *ngIf="isLogged">
      <div class="card-header">
        <h1>Editar Experiencia</h1>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div>
            <label for="nombreExperiencia">
              <h5>Nombre</h5></label>
            <input
              type="text"
              class="form-control"
              id="nombreExperiencia"
              name="nombreExperiencia"
              [(ngModel)]="experiencia.nombreExperiencia"
              required
            />
          </div>
          <div>
            <label for="descripcionExperiencia"
              ><h5>Descripción</h5>
            </label>
            <textarea
              name="descripcionExperiencia"
              id="descripcionExperiencia"
              cols="30"
              rows="6"
              class="form-control"
              [(ngModel)]="experiencia.descripcionExperiencia"
              required
            ></textarea>
          </div>
          <!--IMAGEN PROYECTO-->
          <div>
            <label for="imgExperiencia" class="form-label"
              ><h5>Editar: Imagen(link completo como en el ejemplo):</h5>
            </label>
            <input
              type="text"
              required
              class="form-control"
              id="imgExperiencia"
              name="imgExperiencia"
              [(ngModel)]="experiencia.imgExperiencia"
            />
          </div>

          <!--
<div class="container" *ngIf="experiencia">
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreE">
            Nombre de la nueva Empresa que desea crear
          </label>
          <input
            type="text"
            class="form-control"
            id="nombreE"
            name="nombreE"
            [(ngModel)]="experiencia.nombreE"
            required
          />
        </div>
        <div class="form-group">
          <label for="descripcionE">
            Descripcion de la tarea realizada en la empresa
          </label>
          <input
            type="text"
            class="form-control"
            id="descripcionE"
            name="descripcionE"
            [(ngModel)]="experiencia.descripcionE"
            required
          />
        </div>
  -->
          <!--IMAGEN exp
        <div>
          <label for="img" class="form-label">Editar: Imagen Experiencia (agregar link):</label>
          <input
            type="text"
            required
            class="form-control"
            id="imgE"
            name="imgE"
            [(ngModel)]="experiencia.imgE"
          />
        </div>
        -->
          <!--BOTON
        <button class="btn btn-info">Actualizar experiencia</button>
      </form>
    </div>
  </div>
</div>
-->
          <button class="btn btn-info">Actualizar
            experiencia
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
