<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreExperiencia"> Nombre de la Empresa </label>
          <input
            type="text"
            class="form-control"
            id="nombreExperiencia"
            name="nombreExperiencia"
            [(ngModel)]="nombreExperiencia"
            required
          />
        </div>
        <div class="form-group">
          <label for="descripcionExperiencia">
            Descripcion de la tarea realizada en la empresa
          </label>
          <input
            type="text"
            class="form-control"
            id="descripcionExperiencia"
            name="descripcionExperiencia"
            [(ngModel)]="descripcionExperiencia"
            required
          />
        </div>

        <!--ACA AGREGO IMAGEN-->
        <div>
          <label for="imgExperiencia"
            >Imagen dentro de carpeta Assets (link completo, ver ejemplo):
          </label>
          <input
            type="text"
            required
            class="form-control"
            id="imgExperiencia"
            name="imgExperiencia"
            [(ngModel)]="imgExperiencia"
          />
        </div>

        <!--BOTON-->
        <button class="btn btn-info">Agregar experiencia</button>
      </form>
    </div>
  </div>
</div>
