<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group text-center">
          <label for="nombreExperiencia">
            <h1>Nombre de la Empresa</h1></label>
          <input
            type="text"
            class="form-control"
            id="nombreExperiencia"
            name="nombreExperiencia"
            [(ngModel)]="nombreExperiencia"
            required
          />
        </div>
        <div class="form-group text-center">
          <label for="descripcionExperiencia">
            <h5>Descripcion del trabajo</h5>
          </label>
          <input
            type="text"
            class="form-control"
            id="descripcionExperiencia"
            name="descripcionExperiencia"
            [(ngModel)]="descripcionExperiencia"
            required
          />
        </div>

        <!--ACA AGREGO IMAGEN-->
        <div class="text-center">
          <label for="imgExperiencia"
            ><h5>Imagen dentro de carpeta Assets (link completo, ver ejemplo):</h5>
          </label>
          <input
            type="text"
            required
            class="form-control"
            id="imgExperiencia"
            name="imgExperiencia"
            [(ngModel)]="imgExperiencia"
          />

          <!--BOTON-->
          <button class="btn btn-info">Agregar experiencia</button>


        </div>



      </form>
    </div>
  </div>
</div>
