<div class="row">
  <h1>Hard & Soft Skills</h1>

  <!--HTML5-->
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!-- You can now use it in app.component.html
      si queres agregar solo nombre sin imagen
      [showUnits]="false"
      [title]="'HTML5'"
      ojo con los lugares que hay que agregar comillas simples
      el porcentaje lo tengo que configurar desde la interpolacion con typeScr
    -->
    <circle-progress
      [percent]="85"
      [radius]="100"


      [imageSrc]="'../../../assets/iconosSoftandSkkils/html.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"

      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <!--CSS3-->
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'../../../assets/iconosSoftandSkkils/CSS.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"

      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <!--JS-->
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="25"
      [radius]="100"
      [imageSrc]="'../../../assets/iconosSoftandSkkils/js.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"

      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <!--GitHub-->
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'../../../assets/iconosSoftandSkkils/git.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"

      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <!--Grupal trabajo colaborativo-->
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="100"
      [imageSrc]="'../../../assets/iconosSoftandSkkils/grupal.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"

      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <!--ENG ingles-->
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="10"
      [radius]="100"
      [imageSrc]="'../../../assets/iconosSoftandSkkils/eng.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"

     

      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

</div>
