<div class="row col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="alineado">
        <h1>Hard & Soft Skills</h1>
        <div>
            <button
              type="button"
              class="btn btn-success"
              routerLink="/nuevaskill" *ngIf="isLogged">
              <i class="bi bi-plus-lg"></i>
            </button>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="alineado">
        <h2>Hard-Skills</h2>
    </div>

    <!-- HardSkill -->

    <!-- aca habia una ul -->
    <div class="col-sm-4 col-md-3 col-lg-3" *ngFor="let Skill of skill">

              <!-- aca una li -->
                <div  id="skills alineado">
                    <circle-progress
                        [percent]="Skill.capacidadS"
                        [radius]="80"
                        title= {{Skill.nombreS}}
                        [showSubtitle]="false"
                        [showUnits]="false"
                        [outerStrokeWidth]="8"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#00358e'"
                        [innerStrokeColor]="'#00358e'"
                        [animation]="true"
                        [animationDuration]="500"
                    ></circle-progress>
                    <button class="btn btn-primary" id="boton-skill" routerLink="/editskill/{{Skill.id}}" *ngIf="isLogged"><i class="bi bi-pencil"></i></button>
                    <button class="btn btn-danger" id="boton-skill" (click)="borrar(Skill.id)" *ngIf="isLogged"><i class="bi bi-trash"></i></button>
                </div>

    </div>

    <!--                         Soft -->

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="alineado">
        <h2>Soft-Skills</h2>
    </div>


    <div class="col-sm-4 col-md-3 col-lg-3" *ngFor="let softSkill of soft">

                <div id="skills alineado" class="skills-block">
                    <circle-progress
                    [percent]="softSkill.capacidadS"
                    [radius]="80"
                    title= {{softSkill.nombreS}}
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#00358e'"
                    [innerStrokeColor]="'#00358e'"
                    [animation]="true"
                    [animationDuration]="500"
                    ></circle-progress>
                    <button class="btn btn-primary" id="boton-skill" routerLink="/editsoft/{{softSkill.id}}" *ngIf="isLogged"><i class="bi bi-pencil"></i></button>
                    <button class="btn btn-danger" id="boton-skill" (click)="borrarsoft(softSkill.id)" *ngIf="isLogged"><i class="bi bi-trash"></i></button>
                </div>

              </div>


</div>






























<!--
<div class="row">
  <h1>Hard & Soft Skills</h1>
-->

  <!--HTML5
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  -->

    <!-- You can now use it in app.component.html
      si queres agregar solo nombre sin imagen
      [showUnits]="false"
      [title]="'HTML5'"
      ojo con los lugares que hay que agregar comillas simples
      el porcentaje lo tengo que configurar desde la interpolacion con typeScr
    -->
    <!--
    <circle-progress
      [percent]="85"
      [radius]="100"


      [imageSrc]="'../../../assets/iconosSoftandSkkils/html.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"

      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  -->

  <!--CSS3
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'../../../assets/iconosSoftandSkkils/CSS.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"

      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  -->

  <!--JS
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="25"
      [radius]="100"
      [imageSrc]="'../../../assets/iconosSoftandSkkils/js.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"

      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  -->

  <!--GitHub
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'../../../assets/iconosSoftandSkkils/git.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"

      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  -->

  <!--Grupal trabajo colaborativo
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="100"
      [imageSrc]="'../../../assets/iconosSoftandSkkils/grupal.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"

      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  -->

  <!--ENG ingles
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="10"
      [radius]="100"
      [imageSrc]="'../../../assets/iconosSoftandSkkils/eng.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"



      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#00358e'"
      [innerStrokeColor]="'#00358e'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  -->
<!--
</div>
-->
