<div class="row p-4" style="background-color: rgba(11, 3, 1, 0.768)">
  <div class="container col-lg-12" style="background-color: rgb(112, 159, 225)">
    <div
      class="card-123 mx-auto text-center"
      style="width: 30%"
      *ngIf="skill">

      <div class="card-header">
        <label>
          <h1>Editar HardSkills</h1>
        </label>
      </div>

      <div class="card-body">
        <div id="alineado">
          <form (ngSubmit)="updatehard()" novalidate #f="ngForm">
            <div>
              <label for="nombreS">Nombre De la HardSkill</label>
              <input
                type="text"
                class="form-control"
                id="nombreS"
                name="nombreS"
                [(ngModel)]="skill.nombreS"
                required
              />
            </div>
            <div>
              <label for="capacidadS"
                >Capacidad de manejo de la skill
              </label>
              <input type="number" class="form-control" id="capacidadS" name="capacidadS" [(ngModel)]="skill.capacidadS" required>
            </div>
            <div class="p-3">
              <button class="btn btn-success">Actualizar HardSkill</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
