.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__arg--progr {
  width: 150px;
}

.redeSociales {
  margin-right: 0.9em;
}

img {
  width: 40px;
  padding-right: 0.3rem;
}

.btn {
  border-width: medium;
}


/*RESPONSIVE*/

@media screen and (max-width: 425px){
  .noresponsive {
    display: none;
  }
}


@media screen and (max-width: 375px){
  .noresponsive {
    display: none;
  }

  .redeSocialesGitLink {
   display: none;
  }


}


@media screen and (max-width: 320px){
  .noresponsive {
    display: none;
  }

  .redeSocialesGitLink {
     display: none;
  }
}
