<div class="row">
  <div class="container">

    <div class="logos">
      <img src="../../../assets/APLogo.png" alt="logo de argentina programa" class="logo__arg--progr">
    </div>

    <div class="redeSociales">
      <a href="#"><img src="../../../assets/linkedin.png" alt="red social.."></a>
      <a href="#"><img src="../../../assets/github.png" alt="red social.."></a>
      <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingresar</button>
      <button type="button" class="btn btn-outline-light" (click)="onLogOut()
      " *ngIf="isLogged">Cerrar Sesion</button>
    </div>

  </div>
</div>



