.gradient-custom {
/* fallback for old browsers */
background: #a1b5cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgb(143, 181, 215), rgb(151, 202, 232));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(146, 199, 223), rgb(131, 170, 238))
}
