.imagen__banner {
  box-shadow: 2px -2px 5px #999;
  width: 100%;
  height: 500px;
}

/*RESPONSIVE*/
@media screen and (max-width: 376px){
  .imagen__banner {
    width: 100%;
    height: 350px;
  }

}
