
<div class="container">
  <div class="row">
    <div *ngIf="isLogged">
      <div class="card-header">
        <h1>Info del Proyecto</h1>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <!--NOMBRE-->
          <div>
            <label for="titulo">Nombre del Proyecto</label>
            <input
              type="text"
              class="form-control"
              id="titulo"
              name="titulo"
              [(ngModel)]="titulo"
              required
            />
          </div>
          <!--DESCRIPCION-->
          <div>
            <label for="PDescripcion">Una Breve descripción del proyecto</label>
            <textarea
              name="PDescripcion"
              id="PDescripcion"
              cols="30"
              rows="6"
              class="form-control"
              [(ngModel)]="PDescripcion"
              required
            ></textarea>
          </div>



          <!--ACA AGREGO IMAGEN-->

            <div>
              <label for="img"
                >Imagen dentro de carpeta Assets (link completo, ver ejemplo):
              </label>
              <input
                type="text"
                required
                class="form-control"
                id="img"
                name="img"
                [(ngModel)]="img"
              />
            </div>

          <!--ACA AGREGO LINK DEL PROYECTO
          <div>
            <label for="link" class="form-label"
              >agregar link para Ir al proyecto:</label
            >
            <input
              type="text"
              class="form-control"
              name="link"
              id="link"
              [(ngModel)]="link"
            />
          </div>
          -->

          <button
            class="btn btn-success"
            >Agregar Proyecto</button>
        </form>
      </div>
    </div>
  </div>
</div>
