<div class="row">

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoZoom.jpg" alt="foto de perfil personal" class="img-fluid" id="foto__perfil__mitad">
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
    <p id="jr">Full Stack Developer Jr.</p>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <span>
      <h1>Acerca de</h1>
      <p>Estudio y desarrollo proyectos como páginas Web y Apps. Aprender hace parte de mi día a día y los desafíos me motivan a encontrar las mejores soluciones. Busco adquirir experiencia en el área IT.</p>
    </span>
  </div>

</div>
