<!--  <app-navegacion></app-navegacion> -->
<div
  class="row p-4"
  style="background-color: rgba(245, 245, 245, 0)"
  *ngIf="proyect"
>
  <div class="container col-lg-12" style="background-color: white">
    <div class="card mx-auto text-center" style="width: 100%" *ngIf="isLogged">
      <div class="card-header">
        <h1>Proyecto</h1>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div>
            <label for="nombreE">Editar: Nombre del proyecto</label>
            <input
              type="text"
              class="form-control"
              id="nombreE"
              name="nombreE"
              [(ngModel)]="proyect.titulo"
              required
            />
          </div>
          <div>
            <label for="descripcionE">Editar: descripcion del proyecto</label>
            <textarea
              name="descripcionE"
              id="descripcionE"
              cols="30"
              rows="6"
              class="form-control"
              [(ngModel)]="proyect.descripcionP"
              required
            ></textarea>
          </div>
          <!--IMAGEN PROYECTO-->
          <div>
            <label for="img" class="form-label">Editar: Imagen Proyecto (link):</label>
            <input
              type="text"
              required
              class="form-control"
              id="img"
              name="img"
              [(ngModel)]="proyect.img"
            />
          </div>

          <!--LINK VER PROYECTO

          <div>
            <label for="linkproyecto" class="form-label"
              >Editar: Link proyecto</label
            >
            <input
              type="text"
              class="form-control"
              name="link"
              id="link"
              [(ngModel)]="proyect.link"
            />
          </div>

          -->

          <!--BOTON-->
          <button class="btn btn-outline-success">Actualizar Proyect</button>
        </form>
      </div>
    </div>
  </div>
</div>
